/* common parts*/
body{
  background: #efefef;
}
section h1{
  margin-bottom: 50px;
}
header h1{
  z-index: 100;
  position: fixed;
  top: 0.6em;
  left:10px;  
  font-size: 14px;

}
header nav {
  z-index: 100;
  margin: 0;
  width: 400px;
  position: fixed;
  top: 0px;
  right: 0px;
}

header nav ul {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  flex: 1;
}

header nav ul li a {
  color: #333;
  display: block;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ccc;
}

.contacts ul li{
  z-index: 100;
  position: fixed;
  bottom: 10px;
  left: 10px;  
  list-style: none;
}

.copy{
  z-index: 100;
  position: fixed;
  top: 60%;
  width: 10px;
  right: 10px;
  transform: rotate( -90deg );
  font-size: 12px;
}


.wrap{
  padding: 50px 150px;
  overflow: hidden;
  font-size: 24px;
  background: #ffffff;
  background-image: url("../svg/headline.svg");
  background-size: 100% 150px;
  background-repeat: no-repeat;
}


.grid {
  width: auto;
  overflow: hidden;
  list-style: none;
  margin: 0 -1% 30px;
  padding: 0;
}
.grid li {
  float: left;
  margin: 0 1% 30px;
  padding: 0;
  height:260px;
}
.grid a {
  text-decoration: none;
  font-size: 1.1em;
}
.grid li img{
    width: 100%;
}

.grid li {
    width: 31.3333%;
}
.grid li span {
  font-size: 0.7em;
  padding: 6px;
  background:#ccc;
  color: #fff; 
  margin-right: 4px;
}
.grid li span a {
  color: #fff; 
}

/* text-style */
article h1{
  margin-bottom: 50px;
}
img{
  width: 100%;
}
p{
  margin-bottom:10px;
}
table,code{
  margin:0 0 20px 0;
}
ol,ul{
  padding: 0 50px;
}
code{
  display: block;
  background: #efefef;
  padding: 20px;
  border-radius: 2px;
}
table{
  border: 1px solid #efefef;
  width: 100%;
}
table thead{
  background: #efefef;
  
}



/* for sp */
@media screen and (max-width: 768px) {
  header h1{
    font-size: 12px;
  }
  header nav{
    width: 70%;
    right: 0;

  }
  header nav ul {
    font-size: 12px;
    flex-wrap: wrap;
    width: 100%;
  }
  header nav ul li {
    flex: auto;
    width: 25%;
  }
  .wrap{
    padding: 50px 25px;
    font-size: 16px;
  }
  .grid li {
    width: 100%;
    height: auto;
  }


}